.DS_Store
.ipynb_checkpoints
__pycache__
*.pyc
*.npy
SpecUFEx.egg-info/
tests/.coverage
.coverage
.nox
build/
.pytest_cache/
nmf.h5
tutorials/data/geysers/Vs.h5
tutorials/data/DATA_T1246/
tutorials/data/DATA_T1214/
tutorials/data/amatrice
